{% extends "layout.html" %}

{% block title %}
    Bill Gates
{% endblock %}

{% block main %}
    <h1>Bill Gates</h1>
    <h3>Bill & Melinda Gates Foundation, Microsoft</h3>
    <h5>Net Worth: $81.7 billion</h5>
    <img src="https://pbs.twimg.com/profile_images/929933611754708992/ioSgz49P_400x400.jpg" alt="Bill Gates" style="padding-bottom: 20px">
    <h3>Timeline</h3>
    <p>
        1955: Born
    </p>
    <p>
       He is initially interested in pursuing a career in law.
    </p>
    <p>
        Attends Harvard College but drops out. His thoughts on doing so:
    </p>
    <p>
        1975: Starts Micro-Soft with Paul Allen at the ripe age of 20 years old.
    </p>
    <p>
        1985: Windows 1.0  is launched: picture...
    </p>
    <p>
        Here's a look at Gates in 1991:
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6V6Gir1Dyfs" frameborder="0" allowfullscreen></iframe>
    <p>
        2000: Assumes role of Chief Software Architect, as Steve Ballmer assumes role of Microsoft CEO. Bill & Melinda Gates Foundation is created.
    </p>
    <p>
        2006: Helps launch TerraPower, a company that aims to provide the world with a more affordable, secure and environmentally friendly form of nuclear energy.
    </p>
    <p>
        2008: Leaves his daily job at Microsoft to focus his time and effort on his other pursuits.
    </p>
    <p>
        2010: Challenges the global health community to declare this the Decade of Vaccines, pledging $10 billion over the next 10 years to help research, develop, and deliver vaccines for the world's poorest countries.
    </p>
    <p>
        2010: Launches the Giving Pledge with Melinda Gates and Warren Buffett, which is a commitment by the world's wealthiest people to dedicate most of their wealth to philanthropy.
    </p>
    <p>
        2013: Helps launch a $5.5 billion effort to eradicate polio by 2018.
    </p>
    <p>
        2014: Steps down as chairman of Microsoft, and remains on the board and serves as technology advisor.
    </p>
    <p>
        Present: He currently serves as CEO of the Bill & Melinda Gates Foundation, and board member and technology adviser to Microsoft.
    </p>
{% endblock %}
