{% extends "layout.html" %}

{% block title %}
    Elon Musk
{% endblock %}

{% block main %}
    <h1>Elon Musk</h1>
    <h3>Tesla, SpaceX</h3>
    <h5>Net Worth: $11.1 billion</h5>
    <img src="https://pbs.twimg.com/profile_images/782474226020200448/zDo-gAo0_400x400.jpg" alt="Elon Musk" style="padding-bottom: 20px" height="30%" width="30%">
    <h3>Timeline</h3>
    <p>
        1971: Born
    </p>
    <p>
        For his bachelor's degree, he first attends Queen's University in Ontario, Canada, but ends up transferring to Penn University to study economics and physics.
    </p>
    <p>
        He then starts his Ph.D. at Stanford, but drops out shortly after to focus on his entrepreneurial pursuits.
    </p>
    <p>
        1995: With his brother, Musk co-founds Zip2 Corporation, an online city guide. Here's the story of his first company:
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7sLmeYNmZKY" frameborder="0" allowfullscreen></iframe>
    <p>
        1999: Sells Zip2 Corporation to Compaq Computers for $307 million in cash and $34 million in stock options.
    </p>
    <p>
        2000: X.com, a company founded by Musk, acquires Confinity, of which Peter Thiel was a co-founder, and becomes Paypal. When this happened, he owned 11% of the company's stock.
    </p>
    <p>
        2002: Founds SpaceX.
    </p>
    <p>
        2002: Sells Paypal to eBay for $1.5 billion.
    </p>
    <p>
        2004: Musk leads the $7.5 million financing round for Tesla and becomes the chairman of the board.
    </p>
    <p>
        2016: Tesla acquires SolarCity, a full-service solar provider of which Musk is the chairman.
    </p>
    <p>
        Present: He currently serves as the CEO of Tesla, and the CEO and lead designer of SpaceX.
    </p>
{% endblock %}