{% extends "layout.html" %}

{% block title %}
    Mark Zuckerberg
{% endblock %}

{% block main %}
    <h1>Mark Zuckerberg</h1>
    <h3>Facebook</h3>
    <h5>Net Worth: $52.1 billion</h5>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/d4/b7/c4/d4b7c4223bb97e0826765e34d1e10cf0.jpg" alt="Mark Zuckerberg" style="padding-bottom: 20px" height="25%" width="25%">
    <h3>Timeline</h3>
    <p>
        1984: Born
    </p>
    <p>
        1996: Creates Zucknet, a messaging program which used Atari BASIC. It was used at his house and at his father's dental office.
    </p>
    <p>
        2002: Creates music recommendation software program Synapse, which AOL and Microsoft make offers for. Those offers are declined.
    </p>
    <p>
        He attends prep school Phillips Exeter Academy.
    </p>
    <p>
        For his bachelor's degree, he attends Harvard University, but drops out to pursue his startup.
    </p>
    <p>
        2004: Launches TheFacebook.
    </p>
    <p>
        2005: Mark comes back to Harvard for a guest lecture at Harvard's introduction to computer science course, CS50:
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xFFs9UgOAlE" frameborder="0" allowfullscreen></iframe>
    <p>
        2012: Facebook holds its initial public offering.
    </p>
    <p>
        2016: Zuckerberg and Priscilla Chan launch the Chan Zuckerberg Initiative, a $3 billion commitment over the next decade to fund basic science research with the goal of curing disease.
    </p>
    <p>
        Present: He currently serves as CEO of Facebook.
    </p>
{% endblock %}