{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
    <h1>Your Profile</h1>
    {% if full_name is not none %}
        <p>
            Name: {{ full_name }}
        </p>
    {% endif %}
    {% if born is not none %}
        <p>
            Born: {{ born }}
        </p>
    {% endif %}
    {% if current_company is not none %}
        <p>
            Company: {{ current_company }}
        </p>
    {% endif %}
    {% if current_title_1 is not none %}
        <p>
            Position at {{ current_company }}: {{ current_title_1 }}
            {% if alternate_title_1 is not none %}
                and {{ alternate_title_1 }}
            {% endif %}
        </p>
    {% endif %}
    {% if year_start_1 is not none %}
        <p>
            [{{ year_start_1 }} - Present]
        </p>
    {% endif %}
    {% if second_company is not none %}
        <p>
            Company: {{ second_company }}
        </p>
    {% endif %}
    {% if current_title_2 is not none %}
        <p>
            Position at {{ second_company }}: {{ current_title_2 }}
            {% if alternate_title_2 is not none %}
                and {{ alternate_title_2 }}
            {% endif %}
        </p>
    {% endif %}
    {% if year_start_2 is not none %}
        <p>
            [{{ year_start_2 }} - Present]
        </p>
    {% endif %}
    {% if third_company is not none %}
        <p>
            Company: {{ third_company }}
        </p>
    {% endif %}
    {% if current_title_3 is not none %}
        <p>
            Position at {{ third_company }}: {{ current_title_3 }}
            {% if alternate_title_3 is not none %}
                and {{ alternate_title_3 }}
            {% endif %}
        </p>
    {% endif %}
    {% if year_start_3 is not none %}
        <p>
            [{{ year_start_3 }} - Present]
        </p>
    {% endif %}
    {% if undergraduate_school is not none %}
        <p>
            Undergraduate University : {{ undergraduate_school }}
        </p>
    {% endif %}
    {% if undergraduate_major is not none %}
        <p>
            Studied: {{ undergraduate_major }}
            {% if undergraduate_major_1_2 is not none %}
                , {{ undergraduate_major_1_2 }}
                {% if undergraduate_major_1_3 is not none %}
                    , {{ undergraduate_major_1_3 }}
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
    {% if undergraduate_graduation_year is not none %}
        <p>
            Graduated from {{ undergraduate_school }} in {{ undergraduate_graduation_year }}
        </p>
    {% endif %}
    {% if undergraduate_school_2 is not none %}
        <p>
            Undergraduate University : {{ undergraduate_school_2 }}
        </p>
    {% endif %}
    {% if undergraduate_major_2 is not none %}
        <p>
            Studied: {{ undergraduate_major_2 }}
            {% if undergraduate_major_2_2 is not none %}
                , {{ undergraduate_major_2_2 }}
                {% if undergraduate_major_2_3 is not none %}
                    , {{ undergraduate_major_2_3 }}
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
    {% if undergraduate_graduation_year_2 is not none %}
        <p>
            Graduated from {{ undergraduate_school_2 }} in {{ undergraduate_graduation_year_2 }}
        </p>
    {% endif %}
    {% if postgraduate_school is not none %}
        <p>
            Graduate School: {{ postgraduate_school }}
        </p>
    {% endif %}
    {% if postgraduate_degree_1 is not none %}
        <p>
            Degree: {{ postgraduate_degree_1 }}
        </p>
    {% endif %}
    {% if field is not none %}
        <p>
            Field of Study: {{ field }}
        </p>
    {% endif %}
    {% if postgraduate_graduation_year is not none %}
        <p>
            Earned {{ postgraduate_degree_1 }} in {{ postgraduate_graduation_year }}
        </p>
    {% endif %}
    {% if postgraduate_school_2 is not none %}
        <p>
            Graduate School: {{ postgraduate_school_2 }}
        </p>
    {% endif %}
    {% if postgraduate_degree_2 is not none %}
        <p>
            Degree: {{ postgraduate_degree_2 }}
        </p>
    {% endif %}
    {% if field_2 is not none %}
        <p>
            Field of Study: {{ field_2 }}
        </p>
    {% endif %}
    {% if postgraduate_graduation_year_2 is not none %}
        <p>
            Earned {{ postgraduate_degree_2 }} in {{ postgraduate_graduation_year_2 }}
        </p>
    {% endif %}
    {% if initial_career_path_interest_1 is not none %}
        <p>
            Initial Career Path Interest: {{ initial_career_path_interest_1 }}
        </p>
    {% endif %}
    {% if initial_career_path_interest_2 is not none %}
        <p>
            Other Initial Career Path Interest: {{ initial_career_path_interest_2 }}
        </p>
    {% endif %}
    {% if post_college_company is not none %}
        <p>
            First Job Post-School: Company: {{ post_college_company }}
        </p>
    {% endif %}
    {% if post_college_job is not none %}
        <p>
            Position at {{ post_college_company }}: {{ post_college_job }}
        </p>
    {% endif %}
    {% if post_college_year_start is not none %}
        <p>
            Started at {{ post_college_company }} in: {{ post_college_year_start }}
        </p>
    {% endif %}
    {% if post_college_year_end is not none %}
        <p>
            Left {{post_college_company}} in: {{ post_college_year_end }}
        </p>
    {% endif %}
    {% if past_company_1 is not none %}
        <p>
            Worked at: {{ past_company_1 }}
        </p>
    {% endif %}
    {% if past_position_1 is not none %}
        <p>
            Position at {{ past_company_1 }}: {{ past_position_1 }}
            {% if alternate_past_position_1 is not none %}
                and {{ alternate_past_position_1 }}
            {% endif %}
        </p>
    {% endif %}
    {% if past_year_start_1 is not none %}
        <p>
            Started at {{ past_company_1 }} in: {{ past_year_start_1 }}
        </p>
    {% endif %}
    {% if past_year_end_1 is not none %}
        <p>
            Left {{ past_company_1 }} in: {{ past_year_end_1 }}
        </p>
    {% endif %}
    {% if past_company_2 is not none %}
        <p>
            Worked at: {{ past_company_2 }}
        </p>
    {% endif %}
    {% if past_position_2 is not none %}
        <p>
            Position at {{ past_company_2 }}: {{ past_position_2 }}
            {% if alternate_past_position_2 is not none %}
                and {{ alternate_past_position_2 }}
            {% endif %}
        </p>
    {% endif %}
    {% if past_year_start_2 is not none %}
        <p>
            Started at {{ past_company_2 }} in: {{ past_year_start_2 }}
        </p>
    {% endif %}
    {% if past_year_end_2 is not none %}
        <p>
            Left {{ past_company_2 }} in: {{ past_year_end_2 }}
        </p>
    {% endif %}
    {% if past_company_3 is not none %}
        <p>
            Worked at: {{ past_company_3 }}
        </p>
    {% endif %}
    {% if past_position_3 is not none %}
        <p>
            Position at {{ past_company_3 }}: {{ past_position_3 }}
            {% if alternate_past_position_3 is not none %}
                and {{ alternate_past_position_3 }}
            {% endif %}
        </p>
    {% endif %}
    {% if past_year_start_3 is not none %}
        <p>
            Started at {{ past_company_3 }} in: {{ past_year_start_3 }}
        </p>
    {% endif %}
    {% if past_year_end_3 is not none %}
        <p>
            Left {{ past_company_3 }} in: {{ past_year_end_3 }}
        </p>
    {% endif %}
    {% if past_company_4 is not none %}
        <p>
            Worked at: {{ past_company_4 }}
        </p>
    {% endif %}
    {% if past_position_4 is not none %}
        <p>
            Position at {{ past_company_4 }}: {{ past_position_4 }}
            {% if alternate_past_position_4 is not none %}
                and {{ alternate_past_position_4 }}
            {% endif %}
        </p>
    {% endif %}
    {% if past_year_start_4 is not none %}
        <p>
            Started at {{ past_company_4 }} in: {{ past_year_start_4 }}
        </p>
    {% endif %}
    {% if past_year_end_4 is not none %}
        <p>
            Left {{ past_company_4 }} in: {{ past_year_end_4 }}
        </p>
    {% endif %}
    
    {% if career_position_looking_for is not none %}
        <p>
            Seeking a job as: {{ career_position_looking_for }}
        </p>
    {% endif %}
    {% if industry_looking_towards is not none %}
        <p>
            Looking to move to this industry: {{ industry_looking_towards }}
        </p>
    {% endif %}
    {% if dream_company is not none %}
        <p>
            Dream Company to work for: {{ dream_company }}
        </p>
    {% endif %}
    {% if miscellaneous is not none %}
        <p>
            Reflections and Thoughts on Career: {{ miscellaneous }}
        </p>
    {% endif %}
{% endblock %}
