{% extends "layout.html" %}

{% block title %}
    Similarities
{% endblock %}

{% block main %}
    <h1 style="padding-bottom: 30px">Profile Matches By Category</h1>
    {% if user_info[0]['current_company'] is not none %}
        {% if current_company_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['current_company'] }}:
            </h4>
            {%- for row in current_company_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['second_company'] is not none %}
        {% if second_company_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['second_company'] }}:
            </h4>
            {%- for row in second_company_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['third_company'] is not none %}
        {% if third_company_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['third_company'] }}:
            </h4>
            {%- for row in third_company_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_company_1'] is not none %}
        {% if past_company_1_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['past_company_1'] }}:
            </h4>
            {%- for row in past_company_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_company_2'] is not none %}
        {% if past_company_2_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['past_company_2'] }}:
            </h4>
            {%- for row in past_company_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_company_3'] is not none %}
        {% if past_company_3_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['past_company_3'] }}:
            </h4>
            {%- for row in past_company_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_company_4'] is not none %}
        {% if past_company_4_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['past_company_4'] }}:
            </h4>
            {%- for row in past_company_4_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['dream_company'] is not none %}
        {% if dream_company_match_rows is not none %}
            <h4>
                Has worked at {{ user_info[0]['dream_company'] }}:
            </h4>
            {%- for row in dream_company_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['current_title_1'] is not none %}
        {% if current_title_1_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['current_title_1'] }}:
            </h4>
            {%- for row in current_title_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['alternate_title_1'] is not none %}
        {% if alternate_title_1_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['alternate_title_1'] }}:
            </h4>
            {%- for row in alternate_title_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['current_title_2'] is not none %}
        {% if current_title_2_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['current_title_2'] }}:
            </h4>
            {%- for row in current_title_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['alternate_title_2'] is not none %}
        {% if alternate_title_2_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['alternate_title_2'] }}:
            </h4>
            {%- for row in alternate_title_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['current_title_3'] is not none %}
        {% if current_title_3_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['current_title_3'] }}:
            </h4>
            {%- for row in current_title_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['alternate_title_3'] is not none %}
        {% if alternate_title_3_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['alternate_title_3'] }}:
            </h4>
            {%- for row in alternate_title_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['post_college_job'] is not none %}
        {% if post_college_job_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['post_college_job'] }}:
            </h4>
            {%- for row in post_college_job_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_position_1'] is not none %}
        {% if past_position_1_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['past_position_1'] }}:
            </h4>
            {%- for row in past_position_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['alternate_past_position_1'] is not none %}
        {% if alternate_past_position_1_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['alternate_past_position_1'] }}:
            </h4>
            {%- for row in alternate_past_position_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_position_2'] is not none %}
        {% if past_position_2_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['past_position_2'] }}:
            </h4>
            {%- for row in past_position_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['alternate_past_position_2'] is not none %}
        {% if alternate_past_position_2_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['alternate_past_position_2'] }}:
            </h4>
            {%- for row in alternate_past_position_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['past_position_3'] is not none %}
        {% if past_position_3_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['past_position_3'] }}:
            </h4>
            {%- for row in past_position_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['alternate_past_position_4'] is not none %}
        {% if alternate_past_position_4_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['alternate_past_position_4'] }}:
            </h4>
            {%- for row in alternate_past_position_4_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['career_position_looking_for'] is not none %}
        {% if career_position_looking_for_match_rows is not none %}
            <h4>
                Has held the title of {{ user_info[0]['career_position_looking_for'] }}:
            </h4>
            {%- for row in career_position_looking_for_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['prep_school'] is not none %}
        {% if prep_school_match_rows is not none %}
            <h4>
                Has attended {{ user_info[0]['prep_school'] }}:
            </h4>
            {%- for row in prep_school_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_school'] is not none %}
        {% if undergraduate_school_match_rows is not none %}
            <h4>
                Has attended {{ user_info[0]['undergraduate_school'] }}:
            </h4>
            {%- for row in undergraduate_school_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_school_2'] is not none %}
        {% if undergraduate_school_2_match_rows is not none %}
            <h4>
                Has attended {{ user_info[0]['undergraduate_school_2'] }}:
            </h4>
            {%- for row in undergraduate_school_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['postgraduate_school'] is not none %}
        {% if postgraduate_school_match_rows is not none %}
            <h4>
                Has attended {{ user_info[0]['postgraduate_school'] }}:
            </h4>
            {%- for row in postgraduate_school_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['postgraduate_school_2'] is not none %}
        {% if postgraduate_school_2_match_rows is not none %}
            <h4>
                Has attended {{ user_info[0]['postgraduate_school_2'] }}:
            </h4>
            {%- for row in postgraduate_school_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_graduation_year'] is not none %}
        {% if undergraduate_graduation_year_match_rows is not none %}
            <h4>
                Also graduated from college in {{ user_info[0]['undergraduate_graduation_year'] }}:
            </h4>
            {%- for row in undergraduate_graduation_year_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_graduation_year_2'] is not none %}
        {% if undergraduate_graduation_year_2_match_rows is not none %}
            <h4>
                Also graduated from college in {{ user_info[0]['undergraduate_graduation_Year_2'] }}:
            </h4>
            {%- for row in undergraduate_graduation_year_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['postgraduate_graduation_year'] is not none %}
        {% if postgraduate_graduation_year_match_rows is not none %}
            <h4>
                Graduated from a postgrad institution in {{ user_info[0]['postgraduate_graduation_year'] }}:
            </h4>
            {%- for row in postgraduate_graduation_year_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['postgraduate_graduation_year_2'] is not none %}
        {% if postgraduate_graduation_year_2_match_rows is not none %}
            <h4>
                Graduated from a postgrad institution in {{ user_info[0]['postgraduate_graduation_year_2'] }}:
            </h4>
            {%- for row in postgraduate_graduation_year_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_major'] is not none %}
        {% if undergraduate_major_match_rows is not none %}
            <h4>
                Studied {{ user_info[0]['undergraduate_major'] }}:
            </h4>
            {%- for row in undergraduate_major_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_major_1_2'] is not none %}
        {% if undergraduate_major_1_2_match_rows is not none %}
            <h4>
                Studied {{ user_info[0]['undergraduate_major_1_2'] }}:
            </h4>
            {%- for row in undergraduate_major_1_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_major_1_3'] is not none %}
        {% if undergraduate_major_1_3_match_rows is not none %}
            <h4>
                Studied {{ user_info[0]['undergraduate_major_1_3'] }}:
            </h4>
            {%- for row in undergraduate_major_1_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_major_2'] is not none %}
        {% if undergraduate_major_2_match_rows is not none %}
            <h4>
                Studied {{ user_info[0]['undergraduate_major_2'] }}:
            </h4>
            {%- for row in undergraduate_major_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_major_2_2'] is not none %}
        {% if undergraduate_major_2_2_match_rows is not none %}
            <h4>
                Studied {{ user_info[0]['undergraduate_major_2_2'] }}:
            </h4>
            {%- for row in undergraduate_major_2_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['undergraduate_major_2_3'] is not none %}
        {% if undergraduate_major_2_3_match_rows is not none %}
            <h4>
                Studied {{ user_info[0]['undergraduate_major_2_3'] }}:
            </h4>
            {%- for row in undergraduate_major_2_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['field'] is not none %}
        {% if field_match_rows is not none %}
            <h4>
                Graduate field of study was also {{ user_info[0]['field'] }}:
            </h4>
            {%- for row in field_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['field_2'] is not none %}
        {% if field_2_match_rows is not none %}
            <h4>
                Graduate field of study was also {{ user_info[0]['field_2'] }}:
            </h4>
            {%- for row in field_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['current_industry_1'] is not none %}
        {% if current_industry_1_match_rows is not none %}
            <h4>
                Has worked or been interested in {{ user_info[0]['current_industry_1'] }}:
            </h4>
            {%- for row in current_industry_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['current_industry_2'] is not none %}
        {% if current_industry_2_match_rows is not none %}
            <h4>
                Has worked or been interested in {{ user_info[0]['current_industry_2'] }}:
            </h4>
            {%- for row in current_industry_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['current_industry_3'] is not none %}
        {% if current_industry_3_match_rows is not none %}
            <h4>
                Has worked or been interested in {{ user_info[0]['current_industry_3'] }}:
            </h4>
            {%- for row in current_industry_3_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['initial_career_path_interest_1'] is not none %}
        {% if initial_career_path_interest_1_match_rows is not none %}
            <h4>
                Has worked or been interested in {{ user_info[0]['initial_career_path_interest_1'] }}:
            </h4>
            {%- for row in initial_career_path_interest_1_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['initial_career_path_interest_2'] is not none %}
        {% if initial_career_path_interest_2_match_rows is not none %}
            <h4>
                Has worked or been interested in {{ user_info[0]['initial_career_path_interest_2'] }}:
            </h4>
            {%- for row in initial_career_path_interest_2_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['industry_looking_towards'] is not none %}
        {% if industry_looking_towards_match_rows is not none %}
            <h4>
                Has worked or been interested in {{ user_info[0]['industry_looking_towards'] }}:
            </h4>
            {%- for row in industry_looking_towards_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    {% if user_info[0]['born'] is not none %}
        {% if born_match_rows is not none %}
            <h4>
                Also born in {{ user_info[0]['born'] }}:
            </h4>
            {%- for row in born_match_rows %}    
                <p>
                    {{ row['full_name'] }}
                </p>
                <img src="{{ row['image'] }}" alt="{{ row['full_name'] }}" height="20%" width="20%" style="padding-bottom: 20px">
            {%- endfor %}
            <p>-------------------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}
    <h3>
        Search for their profiles using search!
    </h3>
{% endblock %}
