{% extends "layout.html" %}

{% block title %}
    Survey
{% endblock %}

{% block main %}
    <h2>User Survey</h2>
    <p style="padding-bottom: 20px">
        This survey will be used to match your profile to that of successful individuals. Please input as much information as possible to maximize your chance of a match!
    </p>
    <form action="{{ url_for('survey') }}" method="post">
        <fieldset>
            <div class="form-group">
                <label>First Name: </label>
                <input autofocus class="form-control" name="First_Name" type="text"/>
            </div>
            <div class="form-group">
                <label>Last Name: </label>
                <input class="form-control" name="Last_Name" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you were born: </label>
                <input class="form-control" name="Born" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Company you work at (your current employer): </label>
                <input class="form-control" name="Current_Company" type="text"/>
            </div>
            <div class="form-group">
                <label>Position/Title at Company: </label>
                <input class="form-control" name="Current_Title_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Additional Title at Company, if applicable (e.g. CTO in addition to founder): </label>
                <input class="form-control" name="Alternate_Title_1" type="text"/>
            </div>
            <div class="form-group">
                <label>What industry is this job in? (e.g. energy, healthcare)</label>
                <input class="form-control" name="Current_Industry_1" type="text"/>
            </div>
            <div class="form-group">
                <label>What year did you start this job? </label>
                <input class="form-control" name="Year_Start_1" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Second company you work at, if applicable: </label>
                <input class="form-control" name="Second_Company" type="text"/>
            </div>
            <div class="form-group">
                <label>Position at second company: </label>
                <input class="form-control" name="Current_Title_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Additional title at second company, if applicable: </label>
                <input class="form-control" name="Alternate_Title_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Industry of second job (e.g. energy, healthcare): </label>
                <input class="form-control" name="Current_Industry_2" type="text"/>
            </div>
            <div class="form-group">
                <label>What year did you start this second job? </label>
                <input class="form-control" name="Year_Start_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Third company you work at, if applicable: </label>
                <input class="form-control" name="Third_Company" type="text"/>
            </div>
            <div class="form-group">
                <label>Position at third company: </label>
                <input class="form-control" name="Current_Title_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Additional title at third company, if applicable: </label>
                <input class="form-control" name="Alternate_Title_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Industry of third company (e.g. energy, healthcare): </label>
                <input class="form-control" name="Current_Industry_3" type="text"/>
            </div>
            <div class="form-group">
                <label>What year did you start this third job? </label>
                <input class="form-control" name="Year_Start_3" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Undergraduate institution you attended/are attending: </label>
                <input class="form-control" name="Undergraduate_School" type="text"/>
            </div>
            <div class="form-group">
                <label>Your major in college: </label>
                <input class="form-control" name="Undergraduate_Major" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your second major in college: </label>
                <input class="form-control" name="Undergraduate_Major_1_2" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your third major in college: </label>
                <input class="form-control" name="Undergraduate_Major_1_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from your undergraduate institution: </label>
                <input class="form-control" name="Undergraduate_Graduation_Year" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>If you attended more than one undergrad university or transferred, what is the second undergraduate institution you attended/are attending? </label>
                <input class="form-control" name="Undergraduate_School_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Your major at the second college: </label>
                <input class="form-control" name="Undergraduate_Major_2" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your second major at the second college: </label>
                <input class="form-control" name="Undergraduate_Major_2_2" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your third major at the second college: </label>
                <input class="form-control" name="Undergraduate_Major_2_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from your second undergraduate institution: </label>
                <input class="form-control" name="Undergraduate_Graduation_Year_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>If you attended an elite high school or prep school before college, where did you attend? (e.g. Phillips Exeter, Andover, North Carolina School of Science and Mathematics) </label>
                <input class="form-control" name="Prep_School" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, where did you go to graduate school? </label>
                <input class="form-control" name="Postgraduate_School" type="text"/>
            </div>
            <div class="form-group">
                <label>What degree did you receive from graduate school? (e.g. M.D., J.D., M.B.A.) </label>
                <input class="form-control" name="Postgraduate_Degree_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Field of study in graduate school: </label>
                <input class="form-control" name="Field" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from graduate school: </label>
                <input class="form-control" name="Postgraduate_Graduation_Year" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>If applicable, which second graduate school did you attend? </label>
                <input class="form-control" name="Postgraduate_School_2" type="text"/>
            </div>
            <div class="form-group">
                <label>What degree did you receive from this graduate school? (e.g. M.D., J.D., M.B.A.) </label>
                <input class="form-control" name="Postgraduate_Degree_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Field of study in graduate school: </label>
                <input class="form-control" name="Field_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from graduate school: </label>
                <input class="form-control" name="Postgraduate_Graduation_Year_2" placeholder="Format: ####" type="number"/>
            </div>
             <div class="form-group">
                <label>What was your initial career path interest, if it is differen than the field you are currently in? (e.g. medicine, law, consulting) </label>
                <input class="form-control" name="Initial_Career_Path_Interest_1" type="text"/>
            </div>
            <div class="form-group">
                <label>If you had a second initial career path interest that is also different than the field you are currently in, what was it? (e.g. medicine, law, consulting) </label>
                <input class="form-control" name="Initial_Career_Path_Interest_2" type="text"/>
            </div>
            <div class="form-group">
                <label>What was your first full-time job out of school? </label>
                <input class="form-control" name="Post_College_Job" type="text"/>
            </div>
            <div class="form-group">
                <label>What company were you at for your first full-time job out of school? </label>
                <input class="form-control" name="Post_College_Company" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started your first full-time job out of school: </label>
                <input class="form-control" name="Post_College_Year_Start" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended your first full-time job out of school: </label>
                <input class="form-control" name="Post_College_Year_End" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="Past_Position_1" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="Past_Company_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="Alternate_Past_Position_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="Past_Year_Start_1" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="Past_Year_End_1" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="Past_Position_2" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="Past_Company_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="Alternate_Past_Position_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="Past_Year_Start_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="Past_Year_End_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="Past_Position_3" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="Past_Company_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="Alternate_Past_Position_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="Past_Year_Start_3" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="Past_Year_End_3" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="Past_Position_4" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="Past_Company_4" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="Alternate_Past_Position_4" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="Past_Year_Start_4" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="Past_Year_End_4" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What job position are you looking for or would like to have? (e.g. software engineer, data scientist) </label>
                <input class="form-control" name="Career_Position_Looking_For" type="text"/>
            </div>
            <div class="form-group">
                <label>What industry do you hope to move towards? (e.g. energy, healthcare) </label>
                <input class="form-control" name="Industry_Looking_Towards" type="text"/>
            </div>
            <div class="form-group">
                <label>What is your dream company to work for? (e.g. Google, Mckinsey & Co., Goldman Sachs) </label>
                <input class="form-control" name="Dream_Company" type="text"/>
            </div>
            <div class="form-group">
                <label>Please write anything here that wasn't covered above that you think is important for your career decision-making and timeline: </label>
                <br>
                <textarea class="form-control" cols="60" rows="4" name="Miscellaneous"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}