{% extends "layout.html" %}

{% block title %}
    Survey
{% endblock %}

{% block main %}
    <h2>User Survey</h2>
    <p style="padding-bottom: 20px">
        This survey will be used to match your profile to that of successful individuals. Please input as much information as possible to maximize your chance of a match!
    </p>
    <form action="{{ url_for('survey') }}" method="post">
        <fieldset>
            <div class="form-group">
                <label>First Name: </label>
                <input autofocus class="form-control" name="first_name" type="text"/>
            </div>
            <div class="form-group">
                <label>Last Name: </label>
                <input class="form-control" name="last_name" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you were born: </label>
                <input class="form-control" name="born" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Company you work at (your current employer): </label>
                <input class="form-control" name="current_company" type="text"/>
            </div>
            <div class="form-group">
                <label>Position/Title at Company: </label>
                <input class="form-control" name="current_title_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Additional Title at Company, if applicable (e.g. CTO in addition to founder): </label>
                <input class="form-control" name="alternate_title_1" type="text"/>
            </div>
            <div class="form-group">
                <label>What industry is this job in? (e.g. energy, healthcare)</label>
                <input class="form-control" name="current_industry_1" type="text"/>
            </div>
            <div class="form-group">
                <label>What year did you start this job? </label>
                <input class="form-control" name="year_start_1" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Second company you work at, if applicable: </label>
                <input class="form-control" name="second_company" type="text"/>
            </div>
            <div class="form-group">
                <label>Position at second company: </label>
                <input class="form-control" name="current_title_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Additional title at second company, if applicable: </label>
                <input class="form-control" name="alternate_title_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Industry of second job (e.g. energy, healthcare): </label>
                <input class="form-control" name="current_industry_2" type="text"/>
            </div>
            <div class="form-group">
                <label>What year did you start this second job? </label>
                <input class="form-control" name="year_start_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Third company you work at, if applicable: </label>
                <input class="form-control" name="third_company" type="text"/>
            </div>
            <div class="form-group">
                <label>Position at third company: </label>
                <input class="form-control" name="current_title_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Additional title at third company, if applicable: </label>
                <input class="form-control" name="alternate_title_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Industry of third company (e.g. energy, healthcare): </label>
                <input class="form-control" name="current_industry_3" type="text"/>
            </div>
            <div class="form-group">
                <label>What year did you start this third job? </label>
                <input class="form-control" name="year_start_3" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Undergraduate institution you attended/are attending: </label>
                <input class="form-control" name="undergraduate_school" type="text"/>
            </div>
            <div class="form-group">
                <label>Your major in college: </label>
                <input class="form-control" name="undergraduate_major" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your second major in college: </label>
                <input class="form-control" name="undergraduate_major_1_2" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your third major in college: </label>
                <input class="form-control" name="undergraduate_major_1_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from your undergraduate institution: </label>
                <input class="form-control" name="undergraduate_graduation_year" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>If you attended more than one undergrad university or transferred, what is the second undergraduate institution you attended/are attending? </label>
                <input class="form-control" name="undergraduate_school_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Your major at the second college: </label>
                <input class="form-control" name="undergraduate_major_2" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your second major at the second college: </label>
                <input class="form-control" name="undergraduate_major_2_2" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, your third major at the second college: </label>
                <input class="form-control" name="undergraduate_major_2_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from your second undergraduate institution: </label>
                <input class="form-control" name="undergraduate_graduation_year_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>If you attended an elite high school or prep school before college, where did you attend? (e.g. Phillips Exeter, Andover, North Carolina School of Science and Mathematics) </label>
                <input class="form-control" name="prep_school" type="text"/>
            </div>
            <div class="form-group">
                <label>If applicable, where did you go to graduate school? </label>
                <input class="form-control" name="postgraduate_school" type="text"/>
            </div>
            <div class="form-group">
                <label>What degree did you receive from graduate school? (e.g. M.D., J.D., M.B.A.) </label>
                <input class="form-control" name="postgraduate_degree_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Field of study in graduate school: </label>
                <input class="form-control" name="field" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from graduate school: </label>
                <input class="form-control" name="postgraduate_graduation_year" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>If applicable, which second graduate school did you attend? </label>
                <input class="form-control" name="postgraduate_school_2" type="text"/>
            </div>
            <div class="form-group">
                <label>What degree did you receive from this graduate school? (e.g. M.D., J.D., M.B.A.) </label>
                <input class="form-control" name="postgraduate_degree_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Field of study in graduate school: </label>
                <input class="form-control" name="field_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Year of graduation from graduate school: </label>
                <input class="form-control" name="postgraduate_graduation_year_2" placeholder="Format: ####" type="number"/>
            </div>
             <div class="form-group">
                <label>What was your initial career path interest, if it is differen than the field you are currently in? (e.g. medicine, law, consulting) </label>
                <input class="form-control" name="initial_career_path_interest_1" type="text"/>
            </div>
            <div class="form-group">
                <label>If you had a second initial career path interest that is also different than the field you are currently in, what was it? (e.g. medicine, law, consulting) </label>
                <input class="form-control" name="initial_career_path_interest_2" type="text"/>
            </div>
            <div class="form-group">
                <label>What was your first full-time job out of school? </label>
                <input class="form-control" name="post_college_job" type="text"/>
            </div>
            <div class="form-group">
                <label>What company were you at for your first full-time job out of school? </label>
                <input class="form-control" name="post_college_company" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started your first full-time job out of school: </label>
                <input class="form-control" name="post_college_year_start" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended your first full-time job out of school: </label>
                <input class="form-control" name="post_college_year_end" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="past_position_1" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="past_company_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="alternate_past_position_1" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="past_year_start_1" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="past_year_end_1" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="past_position_2" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="past_company_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="alternate_past_position_2" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="past_year_start_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="past_year_end_2" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="past_position_3" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="past_company_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="alternate_past_position_3" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="past_year_start_3" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="past_year_end_3" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What was your next job? </label>
                <input class="form-control" name="past_position_4" type="text"/>
            </div>
            <div class="form-group">
                <label>At which company did you do this job? </label>
                <input class="form-control" name="past_company_4" type="text"/>
            </div>
            <div class="form-group">
                <label>Did you have another title/role at this company that isn't reflected in the above title? </label>
                <input class="form-control" name="alternate_past_position_4" type="text"/>
            </div>
            <div class="form-group">
                <label>Year you started this job: </label>
                <input class="form-control" name="past_year_start_4" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>Year you left or ended this job: </label>
                <input class="form-control" name="past_year_end_4" placeholder="Format: ####" type="number"/>
            </div>
            <div class="form-group">
                <label>What job position are you looking for or would like to have? (e.g. software engineer, data scientist) </label>
                <input class="form-control" name="career_position_looking_for" type="text"/>
            </div>
            <div class="form-group">
                <label>What industry do you hope to move towards? (e.g. energy, healthcare) </label>
                <input class="form-control" name="industry_looking_towards" type="text"/>
            </div>
            <div class="form-group">
                <label>What is your dream company to work for? (e.g. Google, Mckinsey & Co., Goldman Sachs) </label>
                <input class="form-control" name="dream_company" type="text"/>
            </div>
            <div class="form-group">
                <label>Please write anything here that wasn't covered above that you think is important for your career decision-making and timeline: </label>
                <br>
                <textarea class="form-control" cols="60" rows="4" name="miscellaneous"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
